.job-matcher {
    padding: 20px;
  }
  
  .upload-section,
  .results-section {
    padding: 20px;
    height: 100%;
  }
  
  .file-name {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .submit-button {
    margin-top: 20px !important;
  }
  
  @media (max-width: 960px) {
    .upload-section,
    .results-section {
      height: auto;
    }
  }