.resume-analyzer {
  padding: 20px;
}

.upload-section,
.results-section {
  padding: 20px;
  height: 100%;
}

.file-name {
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-button {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.resume-preview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-preview canvas {
  max-width: 100%;
  height: auto !important;
}

@media (max-width: 960px) {
  .upload-section,
  .results-section {
    height: auto;
  }
}